<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body class="bg-light">
    {% include navbar.html %}
    <div class="container shadow bg-white p-4 my-4 rounded">
      <h1 class="mt-2 mb-1 text-center font-weight-lighter">
        {{ page.title }}
      </h1>
      <hr class="divider mb-4" />
      <div class="row justify-content-center">
        {% for product in page.products %}

        <div class="col-md-4 mb-4">
          <a
            data-toggle="modal"
            data-target="#productModal"
            data-desc="{{ product.description | xml_escape}}"
            data-title="{{ product.title | xml_escape}}"
            data-details="{{ product.details | jsonify | xml_escape }}"
            data-images="{{product.images | jsonify | xml_escape }}"
          >
            <div class="p-3 card shadow-sm h-100 product-card">
              <h5 class="text-center product-title">
                {{ product.title }}<br />
              </h5>
              <div
                id="carouselExampleSlidesOnly"
                class="carousel slide"
                data-ride="carousel"
              >
                <div class="carousel-inner product-img parent">
                  {% for image in product.images %}
                  <div
                    class="carousel-item {% if forloop.index == 1 %}active{% endif %} child"
                  >
                    <img src="{{ image }}" class="d-block w-100 img-fluid" />
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="images"></div>
            <p class="description"></p>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
